<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <title>Wine Collection</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/wine.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<body>
    <div class="is-fullwidth">
        <section class="section">
            <div class="container">
                <div th:insert="~{/fragments/header :: header}">&nbsp;</div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="columns  is-multiline is-4">


                    <div th:each="wine : ${wines}" class="column is-4">
                        <div  class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img th:src="${wine.img}" th:alt="${wine.img}" th:class="card-img">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p th:text="${wine.title}" class="title is-4"></p>
                                    </div>
                                </div>

                                <div class="content">
                                    <p th:text="${wine.description}" class="subtitle is-6"></p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div th:insert="~{/fragments/footer :: footer}">&nbsp;</div>
            </div>
        </section>
    </div>
</body>
</html>
