html, body {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    font-weight: 200;
    margin: 0;
    background: url("/images/wine-background.jpg") no-repeat center top fixed;
    background-size: cover;
}
.box {
    background-color: rgba(212, 212, 212, 0.8) !important;
}

.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hero.is-success {
    background: transparent;
}

.box {
    margin-top: 5rem;
}
.avatar {
    margin-top: -70px;
    padding-bottom: 20px;
}
.avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
input {
    font-weight: 200;
}

p {
    font-weight: 500;
}

p.subtitle {
    padding-top: 1rem;
}

.button.is-info,
.button.is-warning {
    background-color: #c94245 !important;
    color: #f3bfbf !important;
    border-color: transparent !important;
}

.error {
    color: #FF1C19;
}
