html, body {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    font-weight: 200;
    margin: 0;
    background: url("/images/grapes-background.jpg") no-repeat center top fixed;
    background-size: cover;
}
.box {
    background-color: rgba(212, 212, 212, 0.9) !important;
}

.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hero.is-success {
    background: transparent;
}

.box {
    margin-top: 5rem;
}

input {
    font-weight: 200;
}

p {
    font-weight: 500;
}

p.subtitle {
    padding-top: 1rem;
}

.button.is-info,
.button.is-warning {
    background-color: #c94245 !important;
    color: #f3bfbf !important;
    border-color: transparent !important;
}

.error {
    color: #FF1C19;
}
