<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <title>Wine Collection</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>

<body>
   <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">

                    <div class="box">
                        <figure class="avatar">
                            <img th:src="@{/images/login-logo.png}" alt="login-logo">
                        </figure>
                        <h3 class="title has-text-grey">Login</h3>
                        <form th:action="@{/login}" method="POST" >
                            <div class="field">
                                <div class="control">
                                    <input class="input is-medium" type="email" name="email" th:placeholder="Email" autofocus="">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-medium" type="password" name="password" th:placeholder="Password">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <div align="center" th:if="${param.error}">
                                        <p class="error">Email or Password invalid!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button th:text="Login" class="button is-block is-info is-medium is-fullwidth"></button>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <a href="/registration" class="button is-block is-warning is-medium is-fullwidth">Go to Register</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
