<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">

                    <div class="box">
                        <h3 class="title has-text-grey">Register</h3>

                        <h2><span class="text-success" th:utext="${successMessage}"></span></h2>

                        <form autocomplete="off" action="#" th:action="@{/registration}"
                              th:object="${user}" method="post" role="form">

                            <div class="field">
                                <div class="control">
                                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
                                    <input type="text" th:field="*{name}" th:placeholder="Name" class="input is-medium"/>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
                                    <input type="text" th:field="*{lastName}" placeholder="Last Name" class="input is-medium"/>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
                                    <input type="text" th:field="*{email}" th:placeholder="Email" class="input is-medium"/>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
                                    <input type="password" th:field="*{password}" th:placeholder="Password" class="input is-medium" />
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button is-block is-info is-medium is-fullwidth">Register</button>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <a href="/" class="button is-block is-warning is-medium is-fullwidth">Go to Login</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
